@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}


:root{
--primary-Color: hsl(311,31%,11%);
--secondary-Color:hsl(322,29%,22%);
--primary-Highlight:hsl(321,28%,41%);
--primary-HighlightDim:hsl(321,20%,70%);
--secondary-Highlight:hsl(176,87%,57%);
--primaryFont:Fjalla One, sans-serif;
--secondaryFont: Teko, sans-serif;
--patreon: Kanit , sans-serif;
--paragraph: Barlow , sans-serif;

}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .removeScroll::-webkit-scrollbar{
        display:none;
    }
    .removeScroll{
    -ms-overflow-style:none;
    scrollbar-width:none;
    }
    .sideBarIcon {
        @apply relative flex items-center justify-center h-12 w-12 my-4 mx-auto shadow-lg bg-transparent text-primaryHighlight 
    }
    .sideBarIcon:after{
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        border-radius:50%;

        transition:0.5s;
        transform:scale(1.5);
        z-index:-1;
    }
    .sideBarIcon:hover::after{
        transform:scale(0.2);
        box-shadow:0px 0px 60px var(--primary-HighlightDim);
        filter:blur(3px);
    }
    .sideBarIcon:hover{
        color:#fff;
        transition:0.5s;

}
.blueBullets li::before{
     content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--secondary-Highlight); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

    .SocialIcon{
        @apply relative flex items-center justify-center h-12 w-12 my-4 lg:mx-auto shadow-lg bg-transparent text-primaryHighlight  hover:shadow-secondaryHighlightShadow hover:text-secondaryHighlight rounded-full; 
    }
    .discordIcon{
        @apply bg-discord md:w-auto md:h-28  bg-cover lg:w-[350px] h-[70px] flex hue-rotate-[-270deg] saturate-48  hover:text-secondaryHighlight hover:discordHover;
    }
    .discordHover{
        filter: brightness(2.01) contrast(0.69) hue-rotate(302deg) saturate(2.52);
        transition:0.5s;
        
    }
    .playerIcon{
        @apply relative flex items-center justify-center h-24 w-24 mt-6 mx-auto shadow-lg ; 
    }
    .playerImage{
        @apply rounded-full 
    }
    .activeStatus{
        @apply rounded-full bg-green-500 w-6 h-6 absolute right-0 top-[70px] z-10
    }
    .serverStatus{
        @apply rounded-full bg-white w-2 h-2 relative right-6 top-[75px] z-10
    }

.icon-button{
    display: block;
    width: 40px;
    height: 40px;
    margin: 20px 20px 20px 20px;
    
    color: #fff;
    border: none;
    cursor: pointer;
}
.icons{
        position: absolute;
    top: -30%;
    right: -70px; /* Adjust this value for icon positioning */
  
    z-index:1;
    border-left: none;
    display: none;
}
.icons:hover{color:white}

.mainHover{
    padding: 0px 0px 0px 0px;
    display: inline-block;
    cursor: pointer;
}
    .gameRoomContainer{
position: relative;
width:100px;
    display: inline-block;
      height:100px;
        text-align:center;
        justify-content:center;
        align-self:center;
        border:4px solid hsl(321,28%,41%);
    }
 
    .gameRoomContainer:hover .icons {
    display: block;
}

    .gameRoomContainer:hover{
        color:#fff;
        transition:0.5s;
    } 
    .gameRoomContainer:hover #exitImage,
    .gameRoomContainer:hover #muteImage {
        display: block;
}

    .gameRoomContainer::before{
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        border-radius:50%;

        transition:0.5s;
        transform:scale(0.5);
        z-index:-1;
    }
     .gameRoomContainer:hover::before{
        transform:scale(1);
        box-shadow:0 0 20px var(--primary-HighlightDim);
        filter:blue(3px);
    }
    .gameRoomContainer .content:hover .exitSvg,
.gameRoomContainer .content:hover img {
    display: block;
    
}



   
    .serverName{
        font-family:var(--primaryFont);
        font-weight:bold;
        font-size:0.8rem;
        line-height:1.1;
        margin:0px 10px 0px 4px ;
    
    }
    .exitSvg{
        width:32px;
        height:32px;
    }
    .activeStatus{
        box-shadow:
        0 0 25px 8px rgb(34 197 94 )
}  
 .serverStatus{
        box-shadow:
        0 0 15px 2px rgb(255 255 255 )

}
.learnMore{
    background:#fff;
    box-shadow: 0px 0px 10px 0.5px hsl(176,87%,57%);
    color:var(--primary-Highlight);
    transition:0.5s;
    position:relative;
}

.learnMore:after{
    filter:blur(3.5rem)
}
.learnMore:hover{
    letter-spacing:0.25em;
     box-shadow: 0px 4px 35px 1px hsl(176,87%,57%);
     
}


.mainLayoutContainer{
     
     background-position:0px 0px 0px 0px;
     
     background-size:cover;
     position:relative;
     z-index:1;
     isolation:isolate;
      @apply 
        
        text-center
        
        h-screen 
        w-full
       
        ml-44
        
}
    .mainLayout{
        
         background-image:url("/topbackground2.jpg");
         background-size:cover;
      position:relative;
       width:100%;
       
    }

    .mainLayout::after {
        content:'';
        position:absolute;
        background-color:hsl(311,33%,15%);
        inset:0;
        z-index:-1;
       
    }
    .mainLayoutBottom{
        background-image:url("/bottombackgroundgradient.jpg");
        background-size:cover;
        background-color:hsl(322,29%,22%);
        background-repeat:repeat-y;
        height:1300px;
        
        
    }
    .mainLogo{
    width:50px;
    height:80px;
    }

    /***Games List Container***/
.gameItem{
    
    flex:1;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

    .hoverOverGameItem{
    height:150px;
    display:none;
    position: absolute;
    right: 0;
    top: 0;
    right:0;
    left:0;
    flex-direction:column;
    justify-self: space-between;
    border-radius:10%;
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,0.6352592062215512) 4%, rgba(0,0,0,1) 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    }
    

    .gameItem:hover .hoverOverGameItem{
        display:flex;

    }


    
  
}





